*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
    background-color: #F8FAFE;

}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3vh 0vw;
    padding-left: 3vw;
    padding-right: 8vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
   
    
}
nav{
    text-decoration: none;
    text-align: center;
    font-size: 1,125px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    border-bottom: 3px solid transparent;
    margin: 0 25px;
}


nav ul li:hover {
    border-bottom: 3px solid  #8A2D5E;
    transition: all ease-in .5S;
    
}
.icones i{
    margin: 0 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

.apresentando{
    margin-left: 157px;
    margin-top: 5vh;
}
.span1{
    color: #505050;
    font-family: 'Poppins'; 
    font-size: 15.707px;
}
.titulo{
    font-size: 80px;
    line-height: 93px;
    font-family: 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #8A2D5E;
}
.personagem{
    margin-top: 32px;
    margin-left: 150px;
    margin-right: 860px;
}
.subtitulo{
    font-family: 'Nunito';
    width: 122px;
    height: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;

}
.texto{
    font-family: 'Poppins';
    font-style: normal;
    color: #000000;
    opacity: 0.63;
    width: 26,875vw;
    height: 9,5vh;
    font-weight: 400;
    font-size: 15.71px;
    line-height: 194.5%;
    height: 152px;
}
.btn{
    background-color: #383838;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #FFFF;
    height: 6vh;
    width: 23%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 150px;
    margin-top: 6vh;
    transition: all .25s ease-in-out;
    
}
.btn:hover{
    opacity:1;
}
.homemDeFerro{
    position: absolute;
    top: 10%;
    left:58%;
    height: 80vh;
    width: 19vw;
    border-radius: 0px;
}
.nome{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 112px;
    letter-spacing: 0.06em;
    color: rgba(138, 45, 94, 0.5);
    transform: rotate(-90deg) translateX(-50%);
    right: -8%;
    top: 0%;
    
      
}
footer{
    display: flex;
    justify-content: space-between;
    height: 30vh;
    align-items: center;
}
li {
    list-style-type: none;
  }
.social-media{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5vh;
    margin-left: 3vw;
    text-decoration: none;
    width: 5%;
    gap: 5px;
    place-items: center;
    font-size: 44px;}
  
    .twitter{
        color: #1DA1F2;
    }
    .github{
        color: #000;
    }
    .figma{
        color: #000;
    }
    .instagram{
        color: #000;
    }
    Footer
    © 2022 GitHub, 
    
}
.social-icon{
    color: #383838;
    width: 50px;
    height: 50px;
    place-items: center;
    font-size: 1.5rem;
    transition: all 1s;
    text-decoration: none;
   
}

.action{
    margin-top: 9%;
    color: #383838;
    text-decoration: none;
    height: 31px;
    width: 400px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    Font family: Nunito;
    gap: .8vw; 
    align-items: center;
    

}

.action i{
    border: #383838 2px solid;
    border-radius: 50%;
    font-size: 15px ;
    
} 





